<%- include('../includes/head.ejs') %>


</head>
<body>

    <div class="login-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center m-b-md">
                    <h3>ENTER YOUR EMAIL</h3>
                </div>
                <div class="specpanel">
                    
                    <div class="login-page">
                    <div class="form" >
                        <% if (errorMessage) { %>
                            <div class="user-message user-message--error"><%= errorMessage %></div>
                        <% } %>

                        <%- include('../form/reset-form.ejs') %>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 text-center">
                             2020 PT Elefante Infradiji Solusi
                        </div>
                    </div>
                
                </div>
                
            </div>
        </div>
        
    </div>
   
    


</body>
</html>
