<form class="login-form" action="/new-password" method="POST">
    <input placeholder="password" type="password" name="password" id="password">
    <input type="hidden" name="userId" value="<%= userId %>">
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button type="submit">Update Password</button>
</form>