<%- include('../includes/head.ejs') %>


</head>
<body>

    <div class="error-container">

        <div class="error">
            <h1 style="
              margin: -10px 0 -30px;
              font-size: calc(12vw + 40px);
              font-weight:bold;
              opacity: .8;
              letter-spacing: -17px;">403</h1>
            <p style="
            opacity: .8;
            font-size: 20px;
            margin: 8px 0 38px 0;">Forbidden</p>
        </div>
        <a href="/" class="btn btn-success" style="margin-top:15px;">Go back to dashboard</a>
    </div>



</body>
</html>