<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
       <a href="index.html">
       <img src="/images/logo.png" class="img-fluid" alt="">
       <span>E-Health</span>
       </a>
       <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
            <div class="wrapper-menu">
                <div class="main-circle"><i class="ri-lock-fill"></i></div>
                <div class="hover-circle"><i class="ri-lock-unlock-fill"></i></div>
            </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
       <nav class="iq-sidebar-menu">
          <ul id="iq-sidebar-toggle" class="iq-menu">
            <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Dashboard</span></li>
            <% if (role == "admin") { %>
               <li id="home-admin">
                  <a href="/admin" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>Home</span></a>
               </li>
               <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Devices</span></li>
               <li id="device-list">
                  <a href="/admin/device-list" class="iq-waves-effect"><i class="ri-cpu-line"></i><span>Device List</span></a>
               </li>
               <li id="add-device">
                  <a href="/admin/add-device" class="iq-waves-effect"><i class="ri-add-fill"></i><span>Add Device</span></a>
               </li>
               <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Doctor</span></li>
               <li id="doctor-list">
                  <a href="/admin/doctor-list" class="iq-waves-effect"><i class="ri-contacts-fill"></i><span>Doctor List</span></a>
               </li>
               <li id="add-doctor">
                  <a href="/admin/add-doctor" class="iq-waves-effect"><i class="ri-user-add-fill"></i><span>Add Doctor</span></a>
               </li>
               <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Patient</span></li>
            <% } %> 
            <% if (role == "doctor") { %>
               <li id="home-doctor">
                  <a href="/doctor" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>Home</span></a>
               </li>
               <li id="add-patient">
                  <a href="/add-patient" class="iq-waves-effect"><i class="ri-user-add-fill"></i><span>Add Patient</span></a>
               </li>
            <% } %> 
            <% if (role == "patient") { %>
               <li id="home-patient">
                  <a href="/patient" class="iq-waves-effect"><i class="ri-home-8-fill"></i><span>Home</span></a>
               </li>
            <% } %> 
          </ul>
       </nav>
       <div class="p-3"></div>
    </div>
 </div>